# ignore node dependency directories
node_modules/
vendor

# ignore log files and databases
*.log
*.sql
*.sqlite

authress.zip

# Do not commit the yarn lock so that we always get the latest version of the Authress SDK pulled in.
yarn.lock